@import url("https://fonts.googleapis.com/css?family=Rajdhani");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; }

body {
  overflow: scroll;
  overflow-x: hidden;
  position: relative; }

canvas {
  background-color: #000;
  width: 100vw;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 200;
  font-family: 'Rajdhani', sans-serif; }

.nav__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  background-color: #fff;
  margin: auto;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 0; }
  .nav__nav li {
    display: inline-block;
    margin: 70px;
    margin-top: 5px;
    font-size: 40px;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    -webkit-transition: 1s all;
    transition: 1s all; }
    .nav__nav li:hover {
      padding: 0 18px;
      border-right: solid 2px #000;
      border-left: solid 2px #000;
      -webkit-transition: 1s all;
      transition: 1s all; }
    @media (max-width: 777px) {
      .nav__nav li {
        margin: 11px;
        font-size: 30px; } }
    @media (max-width: 420px) {
      .nav__nav li {
        font-size: 21px;
        margin: 10px;
        margin-top: 13px; }
        .nav__nav li:hover {
          padding: 0 5px;
          border-right: solid 1px #000;
          border-left: solid 1px #000;
          -webkit-transition: 1s all;
          transition: 1s all; } }
  .nav__nav a {
    color: #000;
    text-decoration: none; }
  .nav__nav.open {
    height: 62px;
    -webkit-transition: 1s;
    transition: 1s; }
.nav__homeButton {
  background: url(../img/NUMBER%206.png);
  background-size: cover;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 100; }
  .nav__homeButton:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    transition-timing-function: ease-in; }
  .nav__homeButton.background {
    background: url(../img/hexagon-geometrical-shape-outline.png);
    background-size: cover;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 100;
    opacity: 0;
    -webkit-transition: 1;
    transition: 1; }
    @media (max-width: 420px) {
      .nav__homeButton.background {
        width: 33px;
        height: 31px;
        margin-left: 8px;
        margin-top: 8px; } }
  @media (max-width: 420px) {
    .nav__homeButton {
      width: 33px;
      height: 33px;
      margin-left: 8px;
      margin-top: 8px; } }
.nav__menuButton {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 100;
  color: #fff; }
  .nav__menuButton:hover {
    cursor: pointer; }
.nav__menuButtonWrapper {
  position: relative;
  margin-top: 13px;
  height: 20px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }
  .nav__menuButtonWrapper:hover .home__menuButtonItem:nth-child(1) {
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .nav__menuButtonWrapper:hover .home__menuButtonItem:nth-child(2) {
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
.nav__menuButtonItem {
  display: block;
  height: 1px;
  width: 80%;
  margin: 4px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__menuButtonItem.active:nth-child(1) {
    -webkit-transform: translateY(2.5px) rotate(45deg) !important;
    transform: translateY(2.5px) rotate(45deg) !important;
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important; }
  .nav__menuButtonItem.active:nth-child(2) {
    -webkit-transform: translateY(-2.5px) rotate(-45deg) !important;
    transform: translateY(-2.5px) rotate(-45deg) !important;
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important; }
  .nav__menuButtonItem.color {
    background: #000; }

.home {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden; }
  .home__name {
    position: absolute;
    bottom: 20px;
    right: 10px;
    height: 0;
    -webkit-transition: 1s;
    transition: 1s;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    overflow: hidden; }
    .home__name p {
      margin: 0;
      padding: 3px;
      font-size: 20px; }
    .home__name.borderName {
      height: 30px;
      border-bottom: solid 1px #fff;
      border-top: solid 1px #fff;
      -webkit-transition: 1s;
      transition: 1s; }

.home-typeWritting {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white; }
  .home-typeWritting .line-1 {
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    margin: 0 auto;
    border-right: 2px solid #fed136;
    font-size: 40px;
    letter-spacing: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100; }
  .home-typeWritting .anim-typewriter {
    -webkit-animation: typewriterWelcome 0.7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
    animation: typewriterWelcome 0.7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal; }

.work {
  position: relative;
  text-align: center;
  height: 100vh; }
  .work .container {
    width: 90%;
    margin: auto;
    position: relative; }
  .work h1 {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 37px;
    letter-spacing: 6px;
    font-weight: 400;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    display: inline-block;
    margin-top: 50px; }
    @media (max-width: 500px) {
      .work h1 {
        margin-top: 30px;
        font-size: 27px; } }
  .work__wrapper {
    padding: 20px;
    border: solid 1px #fff; }
    @media (max-width: 550px) {
      .work__wrapper {
        padding: 10px; } }
  .work__sliderItem {
    overflow: hidden;
    position: relative; }
    .work__sliderItem img {
      width: 96%;
      margin: 2%;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      @media (max-width: 550px) {
        .work__sliderItem img {
          max-height: 300px; } }
    .work__sliderItem:hover img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
    .work__sliderItem:hover .work__overlay {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
  .work__overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scaley(0);
    transform: scaley(0);
    text-align: center;
    padding: 10px; }
  .work__overlayDetiles {
    color: #fff;
    margin-top: 50px; }
    @media (max-width: 720px) {
      .work__overlayDetiles {
        margin-top: 25px; } }
    @media (max-width: 650px) {
      .work__overlayDetiles {
        margin-top: 10px; } }
    @media (max-width: 570px) {
      .work__overlayDetiles {
        margin-top: 0px; } }
    @media (max-width: 550px) {
      .work__overlayDetiles {
        margin-top: 50px; } }
    @media (max-width: 380px) {
      .work__overlayDetiles {
        margin-top: 20px; } }
    .work__overlayDetiles button {
      background: transparent;
      border: solid #fff 1px;
      color: #fff;
      font-family: 'Rajdhani', sans-serif;
      -webkit-transition: .5s;
      transition: .5s;
      padding: 4px 40px;
      font-size: 20px;
      letter-spacing: 3px; }
      .work__overlayDetiles button:hover {
        background: #fff;
        color: #000;
        -webkit-transition: .5s;
        transition: .5s;
        cursor: pointer;
        -webkit-transform: scale(0.9);
        transform: scale(0.9); }
      @media (max-width: 1080px) {
        .work__overlayDetiles button {
          padding: 4px 15px; } }
      @media (min-width: 1125px) {
        .work__overlayDetiles button {
          margin-top: 20px; } }
  .work__overlayText {
    font-family: 'Rajdhani', sans-serif; }
    .work__overlayText h2 {
      border-bottom: solid 1px transparent;
      letter-spacing: 2px;
      display: inline-block;
      -webkit-transition: .5s;
      transition: .5s;
      text-transform: uppercase;
      font-weight: lighter;
      margin-bottom: 0; }
    .work__overlayText p {
      margin-top: 0; }
    .work__overlayText a {
      display: block; }
  .work__overlayIcon {
    height: 50px;
    width: 50px;
    margin: auto;
    -webkit-animation: spinnerx;
    animation: spinnerx;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
    @media (max-width: 650px) {
      .work__overlayIcon {
        height: 40px;
        width: 40px; } }

.contact {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #000;
  background: #fff;
  position: relative; }
  .contact__mail {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000; }
  .contact__envelop {
    display: inline-block;
    width: 80px;
    height: 30px;
    opacity: 0; }
    .contact__envelop img {
      width: 100%; }
  .contact p {
    font-size: 23px; }
  .contact h1 {
    letter-spacing: 7px;
    font-size: 32px; }
    @media (max-width: 560px) {
      .contact h1 {
        font-size: 30px; } }
    @media (max-width: 500px) {
      .contact h1 {
        letter-spacing: 0.5px; } }
    @media (max-width: 400px) {
      .contact h1 {
        letter-spacing: 0;
        font-size: 26px; } }
    @media (max-width: 320px) {
      .contact h1 {
        letter-spacing: 0;
        font-size: 22px; } }

.about {
  color: white;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
  position: relative; }
  .about__wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0); }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about__text h1 {
      font-size: 40px;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 17px; }
    .about__text p {
      font-size: 20px;
      letter-spacing: 1px;
      margin: 3px auto;
      display: inline-block; }
  .about__line-1 {
    color: white;
    border-right: .1em solid transparent;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    -webkit-animation: typewriterWelcome 0.7s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 5 alternate;
    animation: typewriterWelcome 0.7s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 5 alternate; }
  .about__line-2 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret 0.5s step-end 2.5s 5 alternate;
    animation: typewriterAboutFirstLine 2s steps(22) 3s 1 normal both, blink-caret 0.5s step-end 2.5s 5 alternate;
    opacity: 1; }
  .about__line-3 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 5s 4 alternate;
    animation: typewriterAboutSecondLine 1.7s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 5s 4 alternate; }
  .about__line-4 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret 0.5s step-end 7s 4 alternate;
    animation: typewriterAboutThirdLine 1.5s steps(22) 7.5s 1 normal both, blink-caret 0.5s step-end 7s 4 alternate; }
  .about__line-5 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret 0.5s step-end 9s infinite alternate;
    animation: typewriterAboutFourthLine 2s steps(22) 9.5s 1 normal both, blink-caret 0.5s step-end 9s infinite alternate; }
  .about__icons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px; }
  .about__iconsBox {
    margin: 4px; }
    .about__iconsBox i {
      font-size: 60px; }
    .about__iconsBox:nth-child(1) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }
    .about__iconsBox:nth-child(2) {
      -webkit-animation-delay: 12.2s;
      animation-delay: 12.2s; }
    .about__iconsBox:nth-child(3) {
      -webkit-animation-delay: 12.33s;
      animation-delay: 12.33s; }
    .about__iconsBox:nth-child(4) {
      -webkit-animation-delay: 12.4s;
      animation-delay: 12.4s; }
    .about__iconsBox:nth-child(5) {
      -webkit-animation-delay: 12.5s;
      animation-delay: 12.5s; }
    .about__iconsBox:nth-child(6) {
      -webkit-animation-delay: 12.6s;
      animation-delay: 12.6s; }
    .about__iconsBox:nth-child(7) {
      -webkit-animation-delay: 12.7s;
      animation-delay: 12.7s; }
    .about__iconsBox:nth-child(8) {
      -webkit-animation-delay: 12.8s;
      animation-delay: 12.8s; }
    .about__iconsBox:nth-child(9) {
      -webkit-animation-delay: 12.9s;
      animation-delay: 12.9s; }
    .about__iconsBox:nth-child(10) {
      -webkit-animation-delay: 13s;
      animation-delay: 13s; }

.aboutMobile {
  color: white;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
  position: relative; }
  .aboutMobile__wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 320px; }
  .aboutMobile__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
    line-height: 22px; }
    .aboutMobile__text h1 {
      font-size: 30px;
      letter-spacing: 1px;
      margin: auto;
      margin-bottom: 17px; }
    .aboutMobile__text p {
      font-size: 17px;
      letter-spacing: .5px;
      margin: 3px auto; }
  .aboutMobile__line-1 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    -webkit-animation: typewriterWelcomeMobile 0.5s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 6 alternate;
    animation: typewriterWelcomeMobile 0.5s steps(10) 1s 1 normal both, blink-caret 0.5s step-end 6 alternate; }
  .aboutMobile__line-2 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret 0.5s step-end 3 3s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret 0.5s step-end 3 3s alternate; }
  .aboutMobile__line-3 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 3 5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret 0.5s step-end 3 5s alternate; }
  .aboutMobile__line-4 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret 0.5s step-end 3 6.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret 0.5s step-end 3 6.5s alternate; }
  .aboutMobile__line-5 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 8.5s 1 normal both, blink-caret 0.5s step-end 4 8s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 8.5s 1 normal both, blink-caret 0.5s step-end 4 8s alternate; }
  .aboutMobile__line-6 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 10s normal both, blink-caret 0.5s step-end 3 9.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 10s normal both, blink-caret 0.5s step-end 3 9.5s alternate; }
  .aboutMobile__line-7 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11.5s normal both, blink-caret 0.5s step-end 3 11s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11.5s normal both, blink-caret 0.5s step-end 3 11s alternate; }
  .aboutMobile__line-8 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 12.5s normal both, blink-caret 0.5s step-end 5 12s alternate;
    animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 12.5s normal both, blink-caret 0.5s step-end 4 12s alternate; }
  .aboutMobile__line-9 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 14s normal both, blink-caret 0.5s step-end 3 13.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 15.5s normal both, blink-caret 0.5s step-end 3 15s alternate; }
  .aboutMobile__line-10 {
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret 0.5s step-end 3 16.5s alternate;
    animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret 0.5s step-end 3 16.5s alternate; }
  .aboutMobile__line-11 {
    margin-left: 150px;
    color: white;
    border-right: .1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret 0.5s step-end infinite 18s alternate;
    animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret 0.5s step-end infinite 18s alternate; }
  .aboutMobile__icons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px; }
  .aboutMobile__iconsBox i {
    font-size: 50px; }
    @media (max-width: 520px) {
      .aboutMobile__iconsBox i {
        font-size: 30px; } }
  .aboutMobile__iconsBox:nth-child(1) {
    -webkit-animation-delay: 19s;
    animation-delay: 19s; }
  .aboutMobile__iconsBox:nth-child(2) {
    -webkit-animation-delay: 19.2s;
    animation-delay: 19.2s; }
  .aboutMobile__iconsBox:nth-child(3) {
    -webkit-animation-delay: 19.33s;
    animation-delay: 19.33s; }
  .aboutMobile__iconsBox:nth-child(4) {
    -webkit-animation-delay: 19.4s;
    animation-delay: 19.4s; }
  .aboutMobile__iconsBox:nth-child(5) {
    -webkit-animation-delay: 19.5s;
    animation-delay: 19.5s; }
  .aboutMobile__iconsBox:nth-child(6) {
    -webkit-animation-delay: 19.6s;
    animation-delay: 19.6s; }
  .aboutMobile__iconsBox:nth-child(7) {
    -webkit-animation-delay: 19.7s;
    animation-delay: 19.7s; }
  .aboutMobile__iconsBox:nth-child(8) {
    -webkit-animation-delay: 19.8s;
    animation-delay: 19.8s; }
  .aboutMobile__iconsBox:nth-child(9) {
    -webkit-animation-delay: 19.9s;
    animation-delay: 19.9s; }
  .aboutMobile__iconsBox:nth-child(10) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s; }
  .aboutMobile__mail {
    margin-top: 1px;
    text-align: center;
    opacity: 0; }
    .aboutMobile__mail.mail-animation {
      opacity: 1;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: 1s;
      transition: 1s; }
    .aboutMobile__mail p {
      font-size: 20px; }

@keyframes spinner {
  from {
    transform: rotatey(); }
  to {
    transform: rotatey(360deg); } }
@keyframes spinnerx {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes typewriterWelcome {
  from {
    width: 0; }
  to {
    width: 250px; } }
@keyframes typewriterAboutFirstLine {
  from {
    width: 0; }
  to {
    width: 900px; }
  @media (max-width: 1000px) {
    width: 600px; } }
@keyframes typewriterAboutSecondLine {
  from {
    width: 0; }
  to {
    width: 790px; } }
@keyframes typewriterAboutThirdLine {
  from {
    width: 0; }
  to {
    width: 660px; } }
@keyframes typewriterAboutFourthLine {
  from {
    width: 0; }
  to {
    width: 860px; } }
@keyframes typewriterWelcomeMobile {
  from {
    width: 0; }
  to {
    width: 140px; } }
@keyframes typewriterAboutFirstLineMobile {
  from {
    width: 0; }
  to {
    width: 300px; } }
@keyframes typewriterAboutFirstLineShortMobile {
  from {
    width: 0; }
  to {
    width: 240px; } }
@keyframes typewriterAboutMarkMobile {
  from {
    width: 0; }
  to {
    width: 110px; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: #fed136; }
  to {
    border-right-color: transparent; } }
@-webkit-keyframes blink-caret {
  50% {
    border-color: white; } }
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 1; }

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

/*# sourceMappingURL=style.css.map */
