    .aboutMobile {
        color: white;
        z-index: 10;
        font-family: 'Rajdhani', sans-serif;
        position: relative;
        &__wrapper {
            position: absolute;
            top:25%;
            left: 50%;
            transform: translate(-50%, 0);
                max-width: 320px;
        }
        
        &__text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            text-align: justify;
            font-size: 18px;
            line-height: 22px;
            h1 {
                font-size: 30px;
                letter-spacing: 1px;
                margin: auto;
                margin-bottom: 17px;
            }
            p {
                font-size: 17px;
                letter-spacing: .5px;
                margin: 3px auto;
            }
        }
        &__line-1 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            margin: auto;
            -webkit-animation: typewriterWelcomeMobile .5s steps(10) 1s 1 normal both, blink-caret .5s step-end 6 alternate;
            animation: typewriterWelcomeMobile .5s steps(10) 1s 1 normal both, blink-caret .5s step-end 6 alternate;
        }
        &__line-2 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret .5s step-end 3 3s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 3.5s 1 normal both, blink-caret .5s step-end 3 3s alternate;
        }
        &__line-3 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret .5s step-end 3 5s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 5.5s 1 normal both, blink-caret .5s step-end 3 5s alternate;
        }
        &__line-4 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret .5s step-end 3 6.5s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 7s 1 normal both, blink-caret .5s step-end 3 6.5s alternate;
        }
        &__line-5 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 8.5s 1 normal both, blink-caret .5s step-end 4 8s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 8.5s 1 normal both, blink-caret .5s step-end 4 8s alternate;
        }
        &__line-6 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 10s normal both, blink-caret .5s step-end 3 9.5s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 1 10s normal both, blink-caret .5s step-end 3 9.5s alternate;
        }
        &__line-7 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11.5s normal both, blink-caret .5s step-end 3 11s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 1 11.5s normal both, blink-caret .5s step-end 3 11s alternate;
        }
        &__line-8 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 12.5s normal both, blink-caret .5s step-end 5 12s alternate;
            animation: typewriterAboutFirstLineShortMobile 1s steps(22) 1 12.5s normal both, blink-caret .5s step-end 4 12s alternate;
        }
        &__line-9 {
            
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 14s normal both, blink-caret .5s step-end 3 13.5s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 1 15.5s normal both, blink-caret .5s step-end 3 15s alternate;
        }
        &__line-10 {
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret .5s step-end 3 16.5s alternate;
            animation: typewriterAboutFirstLineMobile 1s steps(22) 1 17s normal both, blink-caret .5s step-end 3 16.5s alternate;
        }
        &__line-11 {
         margin-left: 150px;
            color: white;
            border-right: .1em solid transparent;
            white-space: nowrap;
            overflow: hidden;
            -webkit-animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret .5s step-end infinite 18s alternate;
            animation: typewriterAboutMarkMobile 1s steps(12) 1 18.5s normal both, blink-caret .5s step-end infinite 18s alternate;
        }
        &__icons {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 30px;
        }
        &__iconsBox {
        
            i {
                font-size: 50px;
                @media (max-width:520px){
                font-size: 30px;
            }
            }
            &:nth-child(1) {
                -webkit-animation-delay: 19s;
                animation-delay: 19s;
            }
            &:nth-child(2) {
                -webkit-animation-delay: 19.2s;
                animation-delay: 19.2s;
            }
            &:nth-child(3) {
                -webkit-animation-delay: 19.33s;
                animation-delay: 19.33s;
            }
            &:nth-child(4) {
                -webkit-animation-delay: 19.4s;
                animation-delay: 19.4s;
            }
            &:nth-child(5) {
                -webkit-animation-delay: 19.5s;
                animation-delay: 19.5s;
            }
            &:nth-child(6) {
                -webkit-animation-delay: 19.6s;
                animation-delay: 19.6s;
            }
            &:nth-child(7) {
                -webkit-animation-delay: 19.7s;
                animation-delay: 19.7s;
            }
            &:nth-child(8) {
                -webkit-animation-delay: 19.8s;
                animation-delay: 19.8s;
            }
            &:nth-child(9) {
                -webkit-animation-delay: 19.9s;
                animation-delay: 19.9s;
            }
            &:nth-child(10) {
                -webkit-animation-delay: 20s;
                animation-delay: 20s;
            }
        }
        &__mail {
            margin-top: 1px;
            text-align: center;
            opacity: 0;
            &.mail-animation {
                opacity: 1;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
                -webkit-transition: 1s;
                transition: 1s
            }
            p {
                font-size: 20px;
            }
        }
    }
