.contact {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #000;
    background: #fff;
    position: relative;
    
    &__mail {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #000;
    }
    &__envelop {
        display: inline-block;
        width: 80px;
        height: 30px;
        opacity: 0;
        img {
            width: 100%;
        }
    }
    p {
        font-size: 23px;
    }
    h1 {
        letter-spacing: 7px;
        font-size: 32px;
        @media (max-width: 560px) {
           
            font-size: 30px;
        }
        @media (max-width: 500px) {
            letter-spacing: 0.5px;
        }
        @media (max-width: 400px) {
            letter-spacing: 0;
            font-size: 26px;
        }
     @media (max-width: 320px) {
            letter-spacing: 0;
            font-size: 22px;
        }
    }
}
