.home-typeWritting {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    .line-1 {
        font-family: 'Rajdhani', sans-serif;
        position: relative;
        margin: 0 auto;
        border-right: 2px solid #fed136;
        font-size: 40px;
        letter-spacing: 12px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 100;
    }
    .anim-typewriter {
        -webkit-animation: typewriterWelcome .7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
        animation: typewriterWelcome .7s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(12) infinite normal;
    }
}
