.home {
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    overflow: hidden;
    canvas {}
    &__name {
        position: absolute;
        bottom: 20px;
        right: 10px;
        height: 0;
        -webkit-transition: 1s;
        transition: 1s;
        border-bottom: solid 1px #fff;
        border-top: solid 1px #fff;
        overflow: hidden;
        p {
            margin: 0;
            padding: 3px;
            font-size: 20px;
        }
        &.borderName {
            height: 30px;
            border-bottom: solid 1px #fff;
            border-top: solid 1px #fff;
            -webkit-transition: 1s;
            transition: 1s;
        }
    }
}
