@keyframes spinner {
    from {
        transform: rotatey();
    }
    to {
        transform: rotatey(360deg);
    }
}
@keyframes spinnerx {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes typewriterWelcome {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}
@keyframes typewriterAboutFirstLine {
    from {
        width: 0;
    }
    to {
        width: 900px;
    }
    @media (max-width: 1000px) {
        width: 600px;
    }
}
@keyframes typewriterAboutSecondLine {
    from {
        width: 0;
    }
    to {
        width: 790px;
    }
}
@keyframes typewriterAboutThirdLine {
    from {
        width: 0;
    }
    to {
        width: 660px;
    }
}
@keyframes typewriterAboutFourthLine {
    from {
        width: 0;
    }
    to {
        width: 860px;
    }
}
//---------------------------------keyframes for mobile version
@keyframes typewriterWelcomeMobile {
    from {
        width: 0;
    }
    to {
        width: 140px;
    }
}
@keyframes typewriterAboutFirstLineMobile {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}
@keyframes typewriterAboutFirstLineShortMobile {
    from {
        width: 0;
    }
    to {
        width: 240px;
    }
}
@keyframes typewriterAboutMarkMobile {
    from {
        width: 0;
    }
    to {
        width: 110px;
    }
}
// --------------------------------------------end Mobile
@keyframes blinkTextCursor {
    from {
        border-right-color: #fed136;
    }
    to {
        border-right-color: transparent;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: white;
    }
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode:backwards ;
    animation-fill-mode: backwards;
    
    opacity: 1;
}
@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
