.work {
    position: relative;
    text-align: center;
    height: 100vh;
    .container {
        width: 90%;
        margin: auto;
        position: relative;
    }
    h1 {
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        font-size: 37px;
        letter-spacing: 6px;
        font-weight: 400;
        border-bottom: solid 1px #fff;
        border-top: solid 1px #fff;
        display: inline-block;
        margin-top: 50px;
        @media (max-width: 500px) {
            margin-top: 30px;
            font-size: 27px;
        }
    }
    &__wrapper {
        padding: 20px;
        border: solid 1px #fff;
        @media (max-width: 550px) {
            padding: 10px;
        }
    }
    &__sliderItem {
        overflow: hidden;
        position: relative;
        img {
            width: 96%;
            margin: 2%;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            @media (max-width: 550px) {
                max-height: 300px;
            }
        }
        &:hover img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
        &:hover .work__overlay {
            -webkit-transform: scaleY(1);
            transform: scaleY(1)
        }
    }
    &__overlay {
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        -webkit-transition: .5s all;
        transition: .5s all;
        -webkit-transform: scaley(0);
        transform: scaley(0);
        text-align: center;
        padding: 10px;
    }
    &__overlayDetiles {
        color: #fff;
        margin-top: 50px;
        @media (max-width: 720px) {
            margin-top: 25px;
        }
        @media (max-width: 650px) {
            margin-top: 10px;
        }
        @media (max-width: 570px) {
            margin-top: 0px;
        }
        @media (max-width: 550px) {
            margin-top: 50px;
        }
        @media (max-width: 380px) {
            margin-top: 20px;
        }
        button {
            background: transparent;
            border: solid #fff 1px;
            color: #fff;
            font-family: 'Rajdhani', sans-serif;
            -webkit-transition: .5s;
            transition: .5s;
            padding: 4px 40px;
            font-size: 20px;
            letter-spacing: 3px;
            &:hover {
                background: #fff;
                color: #000;
                -webkit-transition: .5s;
                transition: .5s;
                cursor: pointer;
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
            @media (max-width: 1080px) {
                padding: 4px 15px;
            }
            @media (min-width: 1125px) {
                margin-top: 20px;
            }
        }
    }
    &__overlayText {
        font-family: 'Rajdhani', sans-serif;
        h2 {
            border-bottom: solid 1px transparent;
            letter-spacing: 2px;
            display: inline-block;
            -webkit-transition: .5s;
            transition: .5s;
            text-transform: uppercase;
            font-weight: lighter;
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
        }
        a {
            display: block;
        }
    }
    &__overlayIcon {
        height: 50px;
        width: 50px;
        margin: auto;
        -webkit-animation: spinnerx;
        animation: spinnerx;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        @media (max-width: 650px) {
            height: 40px;
            width: 40px;
        }
    }
}
