* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}
body {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
        
}
canvas {
    background-color: #000;
    width: 100vw;
    height: 100vh;
  
}
a{
    text-decoration: none;
    color: inherit;
}

